<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipselabs.eaadapter.tools.findDupGuids"
            nameFilter="*.eamodel"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="EA Tools"
               path="additions"
               id="org.eclipselabs.eaadapter.tools.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Check for duplicate GUIDs"
               class="org.eclipselabs.eaadapter.tools.popup.actions.CheckDuplicateGuidsAction"
               menubarPath="org.eclipselabs.eaadapter.tools.menu1/group1"
               id="org.eclipselabs.eaadapter.tools.checkDupGuidsAction">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipselabs.eaadapter.tools.findDupGuids2"
            objectClass="org.eclipselabs.eaadapter.model.EARepository">
         <action
               class="org.eclipselabs.eaadapter.tools.popup.actions.CheckDuplicateGuidsAction"
               id="org.eclipselabs.eaadapter.tools.checkDupGuidsAction2"
               label="Check for duplicate GUIDs"
               menubarPath="org.eclipselabs.eaadapter.tools.menu1/group1">
         </action>
         <menu
               id="org.eclipselabs.eaadapter.tools.menu1"
               label="EA Tools"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            id="org.eclipselabs.eaadapter.tools.collectStatistics"
            nameFilter="*.eamodel"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipselabs.eaadapter.tools.menu1"
               label="EA Tools"
               path="additions">
            <groupMarker
                  name="group1">
            </groupMarker>
         </menu>
         <action
               class="org.eclipselabs.eaadapter.tools.popup.actions.CollectStatisticsAction"
               id="org.eclipselabs.eaadapter.tools.collectStatisticsAction"
               label="Collect Statistics"
               menubarPath="org.eclipselabs.eaadapter.tools.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipselabs.eaadapter.tools.collectStatistics2"
            objectClass="org.eclipselabs.eaadapter.model.EARepository">
         <menu
               id="org.eclipselabs.eaadapter.tools.menu1"
               label="EA Tools"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipselabs.eaadapter.tools.popup.actions.CollectStatisticsAction"
               id="org.eclipselabs.eaadapter.tools.collectStatisticsAction2"
               label="Collect Statistics"
               menubarPath="org.eclipselabs.eaadapter.tools.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
